@import url(styles/header.css);

:root{
    --cor-de-fundo: linear-gradient(to bottom, #228212, #091E06, #0E9914);
}

body {
    background: var(--cor-de-fundo);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

 