.contato {
    background-color: white;
    padding: 1em;
}

.contato__titulo, .contato__texto {
    background: var(--green, linear-gradient(0deg, rgba(6, 5, 5, 0.20) 0%, rgba(6, 5, 5, 0.20) 100%), linear-gradient(160deg, #53BC47 0%, #326589 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid green;
    border-radius: 24px;
    width: 90%;
    color: green;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: green;
    background: url("../img/Email.png") no-repeat;
    padding-left: 2em;
}