.tópicos {
    background: var(--green, linear-gradient(0deg, rgba(6, 5, 5, 0.20) 0%, rgba(6, 5, 5, 0.20) 100%), linear-gradient(160deg, #53BC47 0%, #326589 100%));;
    text-align: center;
    padding: 1em;
}

.tópicos__titulo {
    color: white;
    font-weight: 300;
    margin-bottom: 1em;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link {
    color: black;
    padding: 1em;
    background-color: #C0D72D;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.tópicos__item a:hover {
    color: white;
}

